/*Reuseable styles*/
body {
    background-color: #333333;
    height: 100%;
    width: 100%;
}
h1 {
    color:#fff;
    font-family: 'Rock Salt', cursive;
    font-size: 50px;
    margin-bottom:15px;
    text-align: center;
    transition: all .5s;
}

h2 {
    color:#fff;
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
    margin-bottom: 145px;
    padding: 0 15px 0 15px;
    text-align: center;
}
    
h3 {
    font-family: 'Frijole', cursive;
    font-size: 80px;
    margin: 0 auto 20px auto;
}

ul {
    text-align: center;
}

li {
    display: inline;
    font-family: 'Alfa Slab One', cursive;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all .5s;
}

p {
    width: 100%;
}

/* paragraph styling*/
.artist-text {
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 90px;
    margin-right: auto;
    width: 80%;
}

/*Background positioning style */
.background{
    height: 1500px;
    padding-top: 200px;
}

/*container style*/

.container {
    margin: 0 200px 0 150px;
    max-width: 1104.808px;
    padding: 0 15px 0 15px;
    position: static;
    width: 75%;
}

/*Menu nav Styles*/
header {
    background-color:#f8f8ff;
    border-radius: 5px;
    margin-right: auto;
    max-width: 1104.808px;
    position:fixed;
    opacity: 1;
    transition: all, 0.5s;
    width: 75%;
}
/*Header scroll class for JS timer*/
header.scroll {
    background-color:#f8f8ff;
    border-radius: 5px;
    margin-right: auto;
    margin-left: 120px;
    max-width: 865px;
    position:fixed;
    opacity: .8;
    transition: all, 0.5s;
    width: 55%;
}

header.scroll h1 {
    font-size: 25px;
    transition: all .5s
    }

header.scroll li {
    font-size: 15px;
    transition:all .5s
}

header li:nth-child(1),
       li:nth-child(2) {
    border-right: solid 5px #8b1a1a;
}
   
header a {
    color: #8b1a1a;
    display: inline;
    text-decoration: none;
}

header a:hover {
    color: #838b8b;  
}

.content {
    color: #8b1a1a;
    font-family: 'Alfa Slab One', cursive;
    font-size: 35px;
    margin-top: 21.440px;
    text-align: center;
    text-decoration: underline;
}

/*Slideshow Style*/

.slideshow {
    border: solid 25px white;
    border-bottom: solid 215px white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center; 
}

#slideshow-background {
    background-color: #0e2f44;
    height: 1000px;
}

/*Artist Spotlight Style*/

#artist-background {
    background-color: #3a476a;
    border-top: solid 10px white;
    height: 2200px;
    
}
   
.artist-spotlight {
    color: #fff;
    text-align: center;
}

.artist-text p:nth-child(3) {
    padding-bottom: 66.4px;
}

#artist-spotlight-band-name {
font-family: 'Frijole', cursive;
}

/*Making Some Noise style*/

#background-making-some-noise {
    background-color: #660066;
    border-top: solid 10px white;
}

.making-some-noise {
    color: #fff;
    text-align: center;
}

#making-noise-band {
    font-family: 'Walter Turncoat', cursive;
}

/*Hall of Fame Style*/

#hof-background {
    background-color: #003366;
    border-top: solid 10px white;
    height: 1000px;
}

.hof-image-container {
    box-sizing: border-box;
    height: 55%;
    position: relative;
    text-align: center;
    width: 100%;
}

.hof-image {
    top: 10px;
    display: inline-block;
    padding-right: 10px;
    position: relative;
    margin-bottom: 10px;
}
 
 
.color-square {
    background: rgba(211 ,211 ,211, .5);
    display: inline-block;
    height: 0px;
    left: 0px;
    margin-right: 5px;
    position: absolute;
    top: 0px;
    transition: all .5s;
    overflow: hidden;
    vertical-align: top;
    width: 340px;
}

.hof-image:hover .color-square,
.color-square:hover {
    background: rgba(211, 211, 211, 0.5);
    height: 250px;
}

.color-square h3 {
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    margin-top: 205px;
    text-align: center;
}

/*Footer Style*/

.footer {
   background-color: #f8f8ff;
   border-radius: 5px;
   height: 124.875px;
   max-width: 1104.808px;
   opacity: .8;
   overflow: hidden;
   width: 100%;
}

.contact-container {
    text-align: center;
    display: inline;
    width: auto;
}

.contact-favorite-band {
    color: #8b1a1a;
    float: left;
    font-family: 'Alfa Slab One', cursive;
    font-size: 13px;
    height: 50%;
    margin: 15px 0 0 80px;
    padding-right: 35px;
    text-align: center;
    width: 34%;
    
}

.contact-favorite-band a {
    color: #838b8b;
    text-decoration: none;
}

.contact-favorite-band a:hover {
    color: #8b1a1a;
}

.contact-new-band {
    color: #8b1a1a;
    float: left;
    font-family: 'Alfa Slab One', cursive;
    font-size: 13px;
    margin-top: 15px;
    padding-left: 84px;
    text-align: center;
    width: 34%;
   
}

.contact-new-band a {
    color: #838b8b;
    text-decoration: none;
}

.contact-new-band a:hover {
    color: #8b1a1a;
}

.copyright {
    color: #8b1a1a;
    float: left;
    font-size:10px;
    font-family: sans-serif;
    height: auto;
    margin-left: 5px;
    padding-top:12px;
    width: 734px;
}


