body{
    background-color: rgb(25,26,21);
}
/*container style*/
.container{
    width:75%;
    margin-left:200px;
    max-width: 1211.250px;
    
    /*to see the container*/
    
    
}
/*Menu nav Styles*/
.heading{
    background-color:#f8f8ff;
    border-radius: 5px;
    font-family: 'Alfa Slab One', cursive;
    margin-right: auto;
    position:fixed;
    /*opacity to .8 on scroll*/
    opacity: 1;
    /*Shrink to 50% on scroll.*/
    width: 74.2%;
    max-width: 1104.808px;
    
}
.heading ul{
    text-align: center;
    
}
.heading li{
    display: inline;
    padding-left: 7.5px;
    padding-right: 7.5px; 
}

.heading li:nth-child(1){
    border-right: solid 5px #8b1a1a;
}
.heading li:nth-child(2){
    border-right: solid 5px #8b1a1a;
}

.heading a{
    color: #8b1a1a;
    display: inline;
    text-decoration: none;
}
.heading a:hover{
    color:#838b8b;
    
}
.banner{
    color:#8b1a1a;
    text-align: center;
    text-decoration: underline;
}

/*Slideshow Style; style after JS is in place*/

.slideshow{
    
    text-align: center;
}

/*Artist Spotlight Style*/
.artist-spotlight{
    color:#fff;
    text-align: center;
}
.artist-spotlight h1{
    font-family: 'Rock Salt', cursive;
    font-size: 50px;
    margin-top:0;
    margin-bottom:15px;
    
}
.artist-spotlight h2{
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
}
#artist-spotlight-band-name{
    font-family: 'Frijole', cursive;
    font-size: 80px;
}
.artist-text{
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 130px;
    width:80%;
}
.artist-text p:nth-child(3){
    padding-bottom: 66.4px;
}

/*Making Some Noise style*/

.making-some-noise{
    color:#fff;
    text-align: center;
}
.making-some-noise h1{
    font-family: 'Rock Salt', cursive;
    font-size: 50px;
    margin-top:0;
    margin-bottom:15px;
}
.making-some-noise h2{
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
}
.making-some-noise-artist-text{
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 130px;
    width:80%;
    
}
#making-noise-band{
    font-family: 'Walter Turncoat', cursive;
    font-size: 80px;
}

/*Hall of Fame Style*/

.favorite h1{
    color: #fff;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 50px;
}

.favorite h2{
    color:#fff;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 24px;
}
    
/*Footer Style*/

.footer{
   background-color: #f8f8ff;
   border-radius: 5px;
   height:124.875px;
   margin-top: 40px; 
   max-width: 1104.808px;
   opacity: .8;
   overflow: hidden;
   width: 100%;
}

.contact-container{
    text-align: center;
    display: inline;
    width: auto;
}
.contact-favorite-band{
    color: #8b1a1a;
    float: left;
    font-family: 'Alfa Slab One', cursive;
    font-size:13px;
    height: 50%;
    margin: 15px 0 0 80px;
    padding-right:35px;
    text-align: center;
    width: 34%;
    
}
.contact-favorite-band a{
    color: #838b8b;
    text-decoration: none;
}
.contact-favorite-band a:hover{
    color: #8b1a1a;
}
.contact-new-band{
    color: #8b1a1a;
    float: left;
    font-family: 'Alfa Slab One', cursive;
    font-size:13px;
    margin-top: 15px;
    padding-left: 84px;
    text-align: center;
    width:34%;
   
}
.contact-new-band a{
    color: #838b8b;
    text-decoration: none;
}
.contact-new-band a:hover{
    color: #8b1a1a;
}

.copyright{
    color: #8b1a1a;
    float: left;
    font-size:10px;
    font-family: sans-serif;
    height: auto;
    margin-left: 5px;
    padding-top:12px;
    width: 734px;
    
}
